{% include "header.html" %}

    {% block title %}<title>Products Page</title>{% endblock %}
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    {% load static %}
    <!-- Page Content -->
    

    <div class="page-heading about-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>Welcome hello {{user.email}}</h4>
              
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="products">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4 all des">
            <p>Add product</p>
          </div>
            <div class="col-lg-4 col-md-4 all des">
            <form action="" method="POST" enctype="multipart/form-data">
            
              {% csrf_token %}
            
              {{ form.as_p }}
              <input id="submit" class="btn" type="submit"><br>
            
            
            </form>
            </div>
          </div>
          <div class='row'><p><strong>Your products</strong></p></div>
          <div class="row grid">
            
            {% for prod in products %}
            <div class="col-lg-4 col-md-4">
              <div class="product-item">
                <a href="#"><img style='width:100px;height: 100px' src="{{prod.img}}" alt=""></a>
                <div class="down-content">
                  <a href="#">
                    <h4>{{prod.name}}</h4>
                  </a>
                  <h6>${{prod.cost}}</h6>
                  <h4>Inventory: {{prod.quantity}}</h4>
                  <h5 style="color: brown;">Active:{{prod.is_active}}</h5>
                  <a href='/products/delete_prod/{{prod.id}}/{{user.id}}'><button>Delete</button></a>
                  <!-- <a href='/products/update_prod/{{prod.id}}'><button>Update</button></a> -->
                  <a href='http://127.0.0.1:8000/api/update/{{prod.id}}'><button>Update</button></a>
          
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        
          
        
        </div>
      </div>
<!--     
    
    {% include "footer.html"%} -->
