{% include "header.html" %}

    {% block title %}<title>Register</title>{% endblock %}
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    {% load static %}
    <div class="page-heading products-heading header-text">
    <div class="container">
        <form action='register' method='post'>
            {% csrf_token %}
            
            Email: <input type="email" name="email" placeholder="abc@xyz.com"><br>
            Password: <input type="password" name="password1" placeholder="Password"><br>
            Password: <input type="password" name="password2" placeholder="Confirm password"><br>
            Is_Admin: <select name='is_admin'>
                <option value=True >Seller</option>
                <option selected value=False>Buyer</option>
            </select>
            <button type="submit" name="Sumbit">Submit </button>
    
        </form>
        <div>
            {% for message in messages %}
            <h3>
                {{message}}
            </h3>
            {% endfor %}
        </div>
    </div>
</div>
{% include "footer.html" %}