{% include "header.html" %}

    {% block title %}<title>Products Page</title>{% endblock %}
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    {% load static %}
    <!-- Page Content -->
    

    <div class="page-heading about-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>Welcome {{user.email}}</h4>
              
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="products">
      <div class="container">
        <div class="row">
          <div>Update product</div>
          <form action="" method="POST" enctype="multipart/form-data">
          
            {% csrf_token %}
          
            {{ form.as_p }}
            
            <input id="submit" class="btn" type="submit"><br>
          
          
          </form>
          </div>
          
        
          
        
        </div>
      </div>
    </div>

    
    {% include "footer.html"%}
